.img-thumbnail {
    margin: 25px;
    width: 85%;
    height: 85%;
}

.card-body {
    padding: 0 25px;
}

.card-footer {
    padding: 0;
    background-color: #fff;
    border-top: none;
}

.card-footer .btn {
    padding: 16px 0;
    border-top: 2px solid #fff;
}

.ngx-gallery { 
    display: inline-block; 
    margin-bottom: 20px; 
}